html {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #fff;
  background-color: var(--bg-color);
  font-family: 'Avenir', 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  background-color: rgba(0, 0, 0, 0);

}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

#canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#canvas {
  position: absolute;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 0;
  width: 100%;
}

.link-button {
  display: block;
  cursor: pointer;
  margin: 1em 7%;
  padding: 0.75em;
  overflow: hidden;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.2;
  border-radius: 3em;
  border: 0.15em solid #fff;
  outline: none;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
}

.link-button.enabled:active {
  color: var(--bg-color);
  background-color: #fff;
}

header {
  box-sizing: border-box;
  width: 100%;
}

footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 5.5em;
}

.footer-button {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.66);
  border-style: solid;
  border-width: 2px;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#logo-button {
  position: absolute;
  bottom: 1.5em;
  left: 7%;
  background-image: url('images/EXP_SW_logo.png');
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
}

#swr-ex-logo {
  position: fixed;
  bottom: 1.5em;
  left: 7%;
  height: 1.5em;
}

#info-button {
  position: fixed;
  bottom: 1.5em;
  right: 12%;
  height: 1.5em;
  font-weight: bold;
}

.switch {
  position: absolute;
  width: 200px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -50px;
  text-align: center;
  font-size: 50px;
}

.overlay {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--bg-color);
  color: #fff;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: 0.5s;
  z-index: 99;
}

.overlay p {
  text-align: center;
  font-size: 1.1em;
}

.overlay a {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.close-cross {
  position: fixed;
}

.close-cross:before {
  position: fixed;
  content: "\00d7";
  top: 5px;
  right: 15px;
  font-size: 40px;
  font-weight: 300;
  padding: 0;
  text-align: center;
  margin: 0;
}

.overlay.open {
  opacity: 0.8;
  pointer-events: auto;
}

.overlay.cover.open {
  opacity: 1;
}

#info-overlay {
  overflow: scroll;
}

#centered-icon {
  position: relative;
  left: 50%;
  margin-left: -75px;
}


/* Media Queries ========================================================================== */

@media only screen and (orientation: portrait) {
  #title {
    opacity: 1;
  }

  h1 {
    margin-block-end: 2em;
  }

  p {
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
  }
}

@media only screen and (orientation: landscape) {
  #title {
    opacity: 0;
  }

  .overlay {
    padding-left: 4em;
    padding-right: 4em;
  }


  h1 {
    margin-block-end: 0.5em;
  }

  p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}
